.App {
  text-align: center;
}

div {
  display: block;
  position: relative;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.settingsWrap {
  padding: 10px 20px;
  background-color: #eaeaea;
}

.userRole {
  display: inline-block;
  margin: 0 10px;
}

.numOfCountriesToShow {
  display: inline-block;
  margin: 0 10px;
}

.numOfCountriesToShow input {
  width: 40px;
}
